html {
	background: #ccc;
	min-height: 100%;
	font-family: sans-serif;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}
body {
	margin: 0;
	padding: 15px 15px;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
}
p{
    margin: 10px 2px;
    color: green;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
}

.flex-item{
    margin: 1px;
}